@model EMS_MVC_04Feb2024.Models.Department.DepartmentModel


<form method="post">
    <div>
        <table>
            <tr>
                <th>Department Code</th>
                <td>
                    @*<input type="text" name="DepartmentCode" />*@
                    @*@Html.TextBox("DepartmentCode")*@
                    @Html.TextBoxFor(x => x.DepartmentCode)
                </td>
            </tr>
            <tr>
                <th>Department Name</th>
                <td>
                    @*<input type="text" name="DepartmentName" />*@
                    @*@Html.TextBox("DepartmentName")*@
                    @Html.TextBoxFor(x => x.DepartmentName)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>

        @*<span style="color:red">@ViewBag.Message</span>*@


    </div>
</form>
@*@section ClientScript{
    <script>
             var data = @(TempData["Message"] != null? Html.Raw(TempData["Message"]) : Html.Raw("undefined"));
            if (data) {
                toastr["error"](data, "Error Occur")
                }
    </script>
}*@

