
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/JS/JavaScript1.js"></script>
        <script src="~/Content/JS/JavaScript2.js"></script>
        <script src="~/Content/JS/JavaScript3.js"></script>
    @*@Scripts.Render("~/bundle/JS")*@
</head>
<body>
    <h2>Bundle Home Page</h2>
</body>
</html>




