
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EMS</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/toastr/toastr.min.js"></script>
</head>
<body>
    
    @Html.Partial("_NavigationMenu")
    <div id="Content" class="container-fluid">
        @RenderBody()
    </div>
    
    @RenderSection("ClientScript", false)

    @Html.Partial("_Notification")
</body>
</html>
